
<div class="container">
  <h2 class="mb-3" id="dashboard-heading" data-tech-user-id="{{techUserId}}">Dashboard</h2>
  {{#if loggedIn}}

    {{!-- Button Trigger: Create Post Modal --}}
    <button type="button" class="btn btn-success mb-5" data-toggle="modal" data-target="#createPostModal">
      Create Post
    </button>

    {{!-- Create Post Modal --}}
    <div class="modal fade" id="createPostModal" tabindex="-1" role="dialog" aria-labelledby="createPostModalTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="createPostModalTitle">Create Post</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            {{!-- Create Post Form --}}
            <form>
              <div class="form-group">
                <label for="post-title">Title</label>
                <input type="text" class="form-control" id="post-title" aria-describedby="postTitle" placeholder="Create Title...">
              </div>
              <div class="form-group">
                <label for="post-content">Content</label>
                <textarea class="form-control" id="post-content" rows="3" placeholder="Create Post..."></textarea>
              </div>
              <button type="submit" id="submit-post-btn" class="btn btn-primary">Post</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  {{/if}}

  {{#if loggedIn}}

    {{#each techUserPosts as |post|}}
      <div class="card mb-3 post" data-post-id="{{post.id}}" data-tech-user-id="{{../techUserId}}">

        {{!-- Card Header --}}
        <div class="card-header d-flex justify-content-between">
          <div class="card-header-left">
            <h5 class="m-0 post-title">{{ post.title }}</h5>
            <p class="m-0 text-muted">Posted by {{ post.author.username }} on {{ formatDate post.createdAt }}</p>
          </div>
          <div class="card-header-right">

            {{!-- Button Trigger: Update Post Modal --}}
            <button class="btn btn-info btn-sm update-post-trigger-btn" data-toggle="modal" data-target="#updatePostModal">Update Post</button>

            {{!-- Update Post Modal --}}
            <div class="modal fade" id="updatePostModal" tabindex="-1" role="dialog" aria-labelledby="updatePostModalTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="updatePostModalTitle">Update Post</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    
                    {{!-- Update Post Form --}}
                    <form class="update-post-form" id="update-post-form">
                      <div class="form-group">
                        <label for="update-post-title">Title</label>
                        <input type="text" class="form-control update-post-title" id="update-post-title" aria-describedby="updatePostTitle">
                      </div>
                      <div class="form-group">
                        <label for="update-post-content">Content</label>
                        <textarea class="form-control update-post-content" id="update-post-content" rows="3"></textarea>
                      </div>
                      <button type="submit" id="submit-update-post-btn" class="btn btn-info">Update</button>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  </div>
                </div>
              </div>
            </div>

            <button class="btn btn-danger btn-sm" id="delete-post-btn" >Delete Post</button>
          </div>
        </div>

        {{!-- Card Body --}}
        <div class="card-body">
          <p class="card-text post-content">{{ post.content }}</p>

          {{!-- Modal Button --}}
          {{!-- Button Trigger Modal --}}
          <button type="button" class="btn btn-link p-0" data-toggle="modal" data-target="#commentsModal{{ post.id }}">
            comments
          </button>

          {{!-- Modal --}}
          <div class="modal fade" id="commentsModal{{ post.id }}" tabindex="-1" role="dialog" aria-labelledby="commentsModalTitle{{ post.id }}" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">

                {{!-- Modal Header --}}
                <div class="modal-header">
                  <h5 class="modal-title" id="commentsModalTitle{{ post.id }}">Comments</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                {{!-- Modal Body --}}
                <div class="modal-body">
                  <div class="comments-wrapper mb-3">

                    {{!-- Modal Body: Comments --}}
                    {{#each post.comments as |comment|}}
                      <div class="card mb-3">
                        <div class="card-body">
                          <p class="m-0">{{ comment.content }}</p>
                        </div>
                        <div class="card-footer text-muted">
                          <p class="m-0">
                            - {{ comment.comment_author.username }}, {{ formatDate comment.comment_author.createdAt }}
                          </p>
                        </div>
                      </div>
                    {{/each}}
                  </div>

                  {{!-- Modal Body: Comments Form --}}
                  <form class="comments-form">
                    <div class="form-group mb-2">
                      <textarea class="form-control comment-content" id="comment-content" rows="3" placeholder="Share comments..."></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Comment</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {{/each}}

  {{else}}
    <p>Your not currently logged in. Please login to see your dashboard.</p>
    <a href="/login" class="btn btn-primary">Login</a>
  {{/if}}
</div>

{{#if loggedIn}}
  <script type="module" src="/js/comments.js"></script>
  <script src="/js/posts.js"></script>
  <script src="/js/update.js"></script>
  <script src="/js/delete.js"></script>
{{/if}}