<div class="container">

  {{!-- Create a card for each post --}}
  {{#each posts as |post|}}
  <div class="card mb-3">

    {{!-- Card Header --}}
    <div class="card-header">
      {{post.title}}
    </div>

    {{!-- Card Body --}}
    <div class="card-body">
      <p class="card-text">{{post.content}}</p>

      {{!-- Modal Button --}}
      {{!-- Button Trigger Modal --}}
      <button type="button" class="btn btn-link p-0" data-toggle="modal" data-target="#commentsModal{{post.id}}">
        comments
      </button>

      {{!-- Modal --}}
      <div class="modal fade" id="commentsModal{{post.id}}" tabindex="-1" role="dialog" aria-labelledby="commentsModalTitle{{post.id}}" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">

            {{!-- Modal Header --}}
            <div class="modal-header">
              <h5 class="modal-title" id="commentsModalTitle{{post.id}}">Comments</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            {{!-- Modal Body --}}
            <div class="modal-body">
              {{!-- Modal Body Content --}}
              {{#each post.comments as |comment|}}
                <p>{{comment.content}}</p>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>